# Flutter and Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.package_config.json
pubspec.lock

# IDE
*.iml
.idea/
.vscode/
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Misc
*.log
